<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

    <application>
        <activity
            android:name="com.dds.camera.camera1.Camera1TextureViewActivity"
            android:exported="false" />
        <activity
            android:name="com.dds.camera.camera1.Camera1SurfaceViewActivity"
            android:exported="false"
            android:label="Camera1" />
        <activity
            android:name="com.dds.camera.CameraActivity"
            android:exported="false" />
        <activity
            android:name="com.dds.camera.camera2.Camera2SurfaceViewActivity"
            android:exported="false"
            android:label="Camera2"
            android:screenOrientation="portrait" />
    </application>

</manifest>